{% extends "base.html" %}
{% block content %}
    <title>Post</title>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12  dflex flex-direction-column flex-wrap mx-auto">
                <div class="dflex flex-direction-column  mt-2">

                  <strong class="ttl">Blogs</strong>
                  {% for id,dict in data.items  %}
                    <ul class="ml-5 mt-4">
                        {% for date,title in dict.items %}
                        <li><a href="/view/{{id}}">{{title}}</a>&mdash; written on {{date}}</li>
                            {% endfor %}
                 
                    </ul>
                    {% endfor %}
            
        </div>
            </div>
            

        </div>     
    </div>
    <script>
       
    </script>
{% endblock %}





</html>